
/* Your CSS Code here. *///CSS
/*  your css code here. If applicable */
/* Common table styling */
table.middle {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}

table.middle td {
  border: 1px solid black;
  padding: 1px;
  spacing: 1px;
}

/* Alignments */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Colored rows */
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}




